.footer-custom {
  /* background: linear-gradient(135deg, #140F2D 0%, #1b1636 60%, #201a42 100%); */
  opacity: 0.97;
  color: #000000 !important;
  text-align: center; /* Centra el contenido del footer */
  padding: 30px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #798478;

}
body.scrolled .footer-custom {
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.5);
  background-color: #1e2723; /* Cambia ligeramente el fondo al hacer scroll */
}

.footer-custom .nav li a {
  color: #000000;
}

.nav-item {
  color: #000000 !important;
}

.footer-custom a {
  color: #000000 !important;
  transition: all 0.5s;
  font-weight: bold;
}

.footer-custom h5 {
  color: #FF8A3D!important;
  transition: all 0.5s;
}

.footer-custom a:hover {
  color: #FF8A3D !important;
}


/* Media query para dispositivos móviles */
@media (max-width: 576px) {
  .footer-custom {
      padding: 20px;
  }

  .footer-custom h5 {
      font-size: 18px;
      margin-bottom: 10px;
  }

  .footer-custom p {
      font-size: 16px;
      margin-bottom: 10px;
  }

  .footer-custom .btn {
      font-size: 12px;
      padding: 8px 16px;
      margin-top: 50px;
  }

  .footer-custom .nav li a {
      font-size: 12px;
      align-items: center;
  }
}
