@if (showSpinner) {
  <section class="dots-container">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </section>
}@else{
<div class="not-found-container">
    <div class="not-found">
      <h1 display-1>Bite Food</h1>
      <p fs-3>No tienes reservas pendientes.</p>
      <a><button routerLink="/restaurant-list" class="btn-btn-primary home-link" type="button">Reservar</button></a>
      
      
    </div>
  </div>
}