/* Estilos específicos para el botón primario */
.btn-primary {
  background: linear-gradient(-45deg, #940000 0%,#f7af1d 50%, #D00000   100%);
  border: none;
  transition: background-position 0.3s ease;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
}

.navbar{
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.btn-login {
  background: linear-gradient(to right, #b30092, #009bb3);
  border: none;
  transition: background-position 0.3s ease, transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 200% auto;
  color: white;
}

.nav-link{
  color: #000000;
}
.btn-primary:hover {
  background-position: right center; 
  transform: scale(1.05); 
}

.navbar-collapse[_ngcontent-ng-c1227068899]{
  width: 100% !important;; 
}
.navbar {
  background-color: #ffffff;
  height: 100px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 80%;
  position: fixed;
  top: 0;
  padding: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border: 2px solid #000000;
}

.nav-item {
  color: #000000 !important;
  transition: all 0.5s;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px;
}

.nav-item:hover {
  background-color: #F49D37;
  
}


.nav-item .nav-link {
  color: #000000 !important;
  transition: all 0.5s;
  font-weight: bold;
}
.nav-item:hover .nav-link {
  color: #ffffff !important;
  transition: all 0.5s;
  font-weight: bold;
}



.navbar-brand {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  max-width: calc(100% - 100px); /* Limita el ancho del logo para evitar desbordamiento */
}

.navbar-toggler {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

@media (max-width: 991px) {
  .navbar {
      height: 100px; 
      padding: 10px 20px; 
      width: 100%;
      border-radius: 0; 
      margin-top: 0px;
  }

  .navbar-toggler {
      top: 50%; /* Ajuste la posición del botón de hamburguesa */
      transform: translateY(-50%);
      z-index: 1; /* Asegura que el botón de hamburguesa esté sobre el contenido */
  }

  .navbar-collapse {
      position: absolute;
      top: 100%; /* Coloca el menú desplegable debajo del botón de hamburguesa */
      right: 0; /* Alinea el menú desplegable a la derecha */
      width: 50%;
      background-color: #ffffff;
      border-radius: 0 0 20px 20px; /* Ajusta los bordes del menú desplegable */
      z-index: 0; /* Asegura que el menú desplegable esté detrás del botón de hamburguesa */
  }
  

  .navbar-nav {
      display: flex;
      flex-direction: column;
      
  }

  .navbar-nav .nav-item {
      margin-bottom: 10px; /* Espacio entre los elementos del menú */
  }


  
}


.btn-login:hover {
  background-position: right center; 
  transform: scale(1.05); 
}

.btn-register {
  background: linear-gradient(to right, #009bb3, #4ed851);
  border: none;
  transition: background-position 0.3s ease, transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 200% auto;
  color: white;
 
}
.btn-register:hover {
  background-position: right center; 
  transform: scale(1.05); 
}




.bi {
  font-size: 1rem;
}

/* Cambio de la dirección de la lista de navegación en dispositivos pequeños */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .navbar {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-left: none !important;
    margin-bottom: 50px !important;
  }
  
  /* Ajuste del padding del navbar en pantallas pequeñas */
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .custom-drop{
    border: 0px  !important;
    border-radius: 3px;
    width: 55%;
    padding: 10px;
    margin-left:-1rem;
  }
  .navbar-nav .dropdown-menu {
    position : absolute;
    width: 100%;
  }
  

  #navbarContent {

    width: 100% !important;
    background-color: #660000;
  }

  
}

@media (max-width: 1000px) {
  
  .loader {
    display: none; 
  }
}


/* Animación para el icono bi-fire */
@keyframes fireAnimation {
  0% { color: #FF5733; }
  50% { color: #FFD700; }
  100% { color: #FF5733; }
}
@keyframes registerAnimation {
  0% { color: #ffffff; }
  50% { color: #000000; }
  100% { color: #ffffff; }
}
.bi-fire {
  animation: fireAnimation 3s infinite;
}

/* Estilos adicionales para el botón primario en el hover */
.btn-primary:hover {
  background-position: right center; 
}




.bg-custom{
  background-color: #660000;
  opacity: 0.9;
}


.custom-btn{

  border: 2px solid #ffffff;
  border-color: #ffffff;
  
}
.custom-drop{
  border: 1px solid #030303;
  border-radius: 3px;
}

.user-photo{
  border: 1px solid #000000;
  border-radius: 50%;
  max-width: 60px;
}

@media (max-width: 991px) {
  .navbar {
    margin-top: 0px !important;
  }
}