<nav class="navbar bg-custom navbar-expand-md shadow-sm p-3">
    <div class="container-fluid text-center">
    <a routerLink="/home" class="navbar-brand">
      <img class="navbar-brand" src="/assets/img/bi-removebg.png" alt="Logo" style="max-width: 80px;">
    </a>

    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav text-center" >
        <li class="nav-item " ngbDropdown>
          <a  routerLink="/home"  class="nav-link bi text-white"  id="navbarDropdown2" role="button">Inicio</a>
          
        </li>
        @if (isAdmin || isRestaurant) {
          <li class="nav-item " ngbDropdown>
            <a class="nav-link bi bi-chat-right-quote" ngbDropdownToggle id="navbarDropdown2" role="button">Administración</a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
              @if (isAdmin) {<a ngbDropdownItem routerLink="/restaurant-form">Crear Restaurantes</a>}
              <a ngbDropdownItem [routerLink]="['/restaurant-list']" [queryParams]="{ view: 'mine' }">Mis Restaurantes</a>
              <a ngbDropdownItem routerLink="/menus/create">Crear Menu</a>
              <a ngbDropdownItem routerLink="/dishes/create">Crear Plato</a>
            </div>
          </li>
        }
       
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle id="navbarDropdown2" role="button">
            <i class="bi bi-fire"></i> Quienes somos
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <a ngbDropdownItem routerLink="/about-us">Sobre nosotros</a>
            <a ngbDropdownItem href="#">Sobre el proyecto</a>
          </div>
          
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown2" role="button">
            Según su Origen 
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-center">
            <app-kitchen ></app-kitchen>
          </div>
        </li>
        
     
        <li class="nav-item user-profile" ngbDropdown>
          @if (isLoggedin) {
            <a class="nav-link" ngbDropdownToggle id="navbarDropdown2" role="button">
              <img class="user-photo" [src]="avatarUrl" alt="Restaurant 1">
              {{user?.firstName || ''}} {{user?.lastName || ''}}
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
              <a ngbDropdownItem [routerLink]="['/bookings', 'user', userId]">Mis Reservas</a>
              @if (isAdmin) {<a ngbDropdownItem routerLink="user/list">Lista de usuarios</a>}
              <a ngbDropdownItem routerLink="/menus">Gastronomia Favorita</a>
              <a ngbDropdownItem routerLink="users/account">Ajustes de usuario</a>
              <a ngbDropdownItem (click)="logout()">Cerrar sesión</a>
            </div>
          } @else {
            <button routerLink="/user/login" class="btn btn-outline-light me-2 py-1">
              <i class="bi bi-box-arrow-in-right "></i> Login
            </button>
            <button routerLink="/user/register" class="btn btn-outline-light py-1">
              <i class="bi bi-person-plus"></i> Crear cuenta
            </button>
            
          }
        </li>
      </ul>
      
    </div>

    
    
  </div>
</nav>


