<nav class="navbar bg-custom navbar-expand-md shadow-sm p-3">
    <div class="container-fluid text-center">
    <a routerLink="/home" class="navbar-brand">
      <img class="navbar-brand" src="/assets/img/bi-removebg.png" alt="Logo" style="max-width: 80px;">
    </a>

    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav text-center" >
        <li class="nav-item " ngbDropdown>
          <a  routerLink="/home"  class="nav-link bi text-white"  id="navbarDropdown2" role="button">Inicio</a>
          
        </li>
        @if (isAdmin || isRestaurant) {
          <li class="nav-item " ngbDropdown>
            <a class="nav-link bi bi-chat-right-quote" ngbDropdownToggle id="navbarDropdown2" role="button">Administración</a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
              @if (isAdmin) {<a ngbDropdownItem routerLink="/restaurant-form">Crear Restaurantes</a>}
              <a ngbDropdownItem [routerLink]="['/restaurant-list']" [queryParams]="{ view: 'mine' }">Mis Restaurantes</a>
              <a ngbDropdownItem routerLink="/menus/create">Crear Menu</a>
              <a ngbDropdownItem routerLink="/dishes/create">Crear Plato</a>
            </div>
          </li>
        }
       
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle id="navbarDropdown2" role="button">
            <i class="bi bi-fire"></i> Quienes somos
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <a ngbDropdownItem routerLink="/about-us">Sobre nosotros</a>
            <a ngbDropdownItem href="#">Sobre el proyecto</a>
          </div>
          
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown2" role="button">
            Segun su Origen
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-center">
            <app-kitchen ></app-kitchen>
          </div>
        </li>
        
        <div class="search ">
          <input type="search" class="form-control form-control-sm rounded custom-input"
                 placeholder="Buscar Restaurantes ..." aria-label="Buscar" aria-describedby="search-addon"
                 style="max-width: 760px;" (input)="buscar($any($event.target).value)">
          @if (resultadosBusqueda.length > 0) {
          <div class="search-container">
              <ul class="list-group">
                  @for (restaurantes of resultadosBusqueda; track restaurantes ) {
                  <li class="list-group-item">
                      <a [routerLink]="['/restaurant', restaurantes.id, 'detail']"
                         [innerHTML]="highlightSearchTerm(restaurantes.name, searchTerm)">{{ restaurantes.name }}</a>
                  </li>
                  }
              </ul>
              @if (puedeMostrarMas) {
              <button class="btn btn-outline-primary" (click)="mostrarMas()">Mostrar más</button>
              }
              @if (maxResultados > minResultados) {
              <button class="btn btn-outline-primary" (click)="mostrarMenos()">Mostrar menos</button>
              }
          </div>
          }
          
    
    
      </div>
        <li class="nav-item user-profile" ngbDropdown>
          @if (isLoggedin) {
            <a class="nav-link" ngbDropdownToggle id="navbarDropdown2" role="button">
              <img class="user-photo" [src]="avatarUrl" alt="Restaurant 1">
              {{user?.firstName || ''}} {{user?.lastName || ''}}
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
              <a ngbDropdownItem [routerLink]="['/bookings', 'user', userId]">Mis Reservas</a>
              @if (isAdmin) {<a ngbDropdownItem routerLink="user/list">Lista de usuarios</a>}
              <a ngbDropdownItem routerLink="/menus">Gastronomia Favorita</a>
              <a ngbDropdownItem routerLink="users/account">Ajustes de usuario</a>
              <a ngbDropdownItem (click)="logout()">Cerrar sesión</a>
            </div>
          } @else {
            <button routerLink="/user/login" class="btn-login me-2">
              <i class="bi bi-box-arrow-in-right "></i> Login
            </button>
            <button routerLink="/user/register" class="btn-register">
              <i class="bi bi-person-plus"></i> Registrarse
            </button>
            
          }
        </li>
      </ul>
      
    </div>

    
    
  </div>
</nav>


