<nav class="navbar navbar-expand-lg navbar-dark bg-custom shadow-sm p-3" [ngClass]="{ 'scrolled': isScrolled }">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <!-- Logo -->
    <a routerLink="/home" class="navbar-brand">
      <img src="https://i.ibb.co/SXzRSJ59/fudi2-removebg.png" alt="Logo" width="100" height="100">
    </a>

    <!-- Botón hamburguesa -->
    <button class="navbar-toggler d-lg-none" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido de la navbar -->
    <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true, 'show': !collapsed}" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex gap-3">
        <li class="nav-item">
          <a (click)="closeNavbar()" class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a  class="nav-link dropdown-toggle" ngbDropdownToggle>Según su Origen</a>
          <div (click)="closeNavbar()" ngbDropdownMenu><app-kitchen></app-kitchen></div>
        </li>
        <li (click)="closeNavbar()" class="nav-item"><a class="nav-link" routerLink="/about-us">Quiénes somos</a></li>
        @if (isAdmin || isRestaurant) {
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>Administración</a>
            <div ngbDropdownMenu>
              <a (click)="closeNavbar()" ngbDropdownItem routerLink="/dashboard-restaurant">
                <i class="bi bi-speedometer2 me-2"></i>Mi Panel
              </a>
              <div class="dropdown-divider"></div>
              @if (isAdmin) { <a ngbDropdownItem routerLink="/restaurant-form">Crear Restaurantes</a> }
              <a (click)="closeNavbar()" ngbDropdownItem routerLink="/restaurant-list" [queryParams]="{ view: 'mine' }">Mis Restaurantes</a>
              <a (click)="closeNavbar()" ngbDropdownItem routerLink="/menus/create">Crear Menú</a>
              <a (click)="closeNavbar()" ngbDropdownItem routerLink="/dishes/create">Crear Plato</a>
            </div>
          </li>
        }
      </ul>

   
     

      <!-- Usuario -->

      <div class="d-flex aligh-items-start align-items-lg-center flex-column flex-lg-row gap-3 ms-lg-auto mt-3 mt-lg-0">
       
        <div class="user-profile" ngbDropdown>
          @if (isLoggedin) {
            <a class="nav-item nav-link dropdown-toggle d-flex align-items-center" ngbDropdownToggle>
              <img class="user-photo me-2" [src]="avatarUrl" alt="User">
              {{ user?.firstName || '' }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu-end">
              <a ngbDropdownItem [routerLink]="['/bookings', 'user', userId]">Mis Reservas</a>
              @if (isAdmin) {
                <a ngbDropdownItem routerLink="/user/list">Lista de usuarios</a>
              }
              <a ngbDropdownItem routerLink="/menus">Gastronomía Favorita</a>
              <a ngbDropdownItem routerLink="/users/account">Ajustes</a>
              <a ngbDropdownItem (click)="logout()">Cerrar sesión</a>
            </div>
          } @else {
            <button class="btn btn-outline-light me-2" routerLink="/user/login">Login</button>
            <button class="btn btn-outline-light" routerLink="/user/register">Crear cuenta</button>
          }
        </div>

      </div>
       
      
      
    </div>

  </div>
</nav>
