@if (showSpinner) {
  <div class="loader-wrapper">
    <div class="packman"></div>
    <div class="dots">
      <div class="dot bi-fire"></div>
      <div class="dot bi-fire "></div>
      <div class="dot bi-fire"></div>
      <div class="dot bi-fire"></div>
    </div>
  </div>
}@else {

  <div class="row mt-5 justify-content-center">
    <div class="col-lg-6 col-md-6 d-none d-md-block img-fluid columnaIZQ">
      <ngb-carousel
    #carousel
    [interval]="4000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
  >
    @for (img of images; track img; let i = $index) {
      <ng-template ngbSlide>
        <div class="carousel-caption">
          <h3>My slide {{ i + 1 }} title</h3>
        </div>
        <a href="https://www.google.fr/?q=Number+{{ i + 1 }}" target="_blank" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper">
            <img [src]="img" alt="My image {{ i + 1 }} description" />
          </div>
        </a>
      </ng-template>
    }
  </ngb-carousel>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div id="formdiv" class="text-center p-4 rounded shadow-sm">
        <form [formGroup]="loginForm" (ngSubmit)="save()">
          
          <h1 class="mb-4">Iniciar sesión</h1>
          
          <div class="mb-3 coolinput">
            <label for="email" class="text">Email address</label>
            <input type="email" id="email" class="form-control input" placeholder="name@example.com" formControlName="email" required>
          </div>
          
          <div class="mb-3 coolinput">
            <label for="password" class="text">Contraseña</label>
            <input type="password" id="password" class="form-control input" formControlName="password" required>
            @if (errorMessage) {
              <div class="error-message">{{ errorMessage }}</div>
            }
          </div>
          
          <div class="mb-3 text-start">
            <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
          </div>
          
          <div class="mb-3 form-check text-start">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Recuérdame</label>
          </div>
          
          <button class="custom-btn w-100" type="submit">Iniciar sesión</button>
        </form>
        
        <div class="mt-4">
          <h5>¿No tienes una cuenta aún?</h5>
          <h4><a class="text-primary" routerLink="/user/create">Registrarse</a></h4>
        </div>
        
        <div class="social-login mt-3">
          <ul class="list-unstyled d-flex justify-content-center gap-3">
            <li><a href="#" class="text-danger"><i class="fab fa-google fa-2x"></i></a></li>
            <li><a href="#" class="text-primary"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="#" class="text-pink"><i class="fab fa-instagram fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

}

