@if (showSpinner) {
  <div class="loader-wrapper">
    <div class="packman"></div>
    <div class="dots">
      <div class="dot bi-fire"></div>
      <div class="dot bi-fire "></div>
      <div class="dot bi-fire"></div>
      <div class="dot bi-fire"></div>
    </div>
  </div>
}@else {

  <div class="row mt-3 justify-content-center align-items-center">
    <!-- Carrusel -->
    <div class="col-lg-6 col-md-6 d-none d-md-block img-fluid columnaIZQ">
      <ngb-carousel
        #carousel
        [interval]="6000"
        [pauseOnHover]="pauseOnHover"
        [pauseOnFocus]="pauseOnFocus"
        (slide)="onSlide($event)"
        class="custom-carousel"
      >
        @for (img of images; track img; let i = $index) {
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="img" alt="Banner {{ i + 1 }}" class="carousel-img" />
            </div>
          </ng-template>
        }
      </ngb-carousel>
    </div>
  
    <!-- Formulario -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div id="formdiv" class="text-center p-4 rounded shadow-sm">
        <form [formGroup]="loginForm" (ngSubmit)="save()">
          <h1 class="mb-4 logintitle">Iniciar sesión</h1>
          
          <div class="mb-3 coolinput">
            <label for="email" class="text">Email address</label>
            <input type="email" id="email" class="form-control input" placeholder="name@example.com" formControlName="email" required>
          </div>
          
          <div class="mb-3 coolinput">
            <label for="password" class="text">Contraseña</label>
            <input type="password" id="password" class="form-control input" formControlName="password" required>
            @if (errorMessage) {
              <div class="error-message">{{ errorMessage }}</div>
            }
          </div>
          
          <div class="mb-3 text-start">
            <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
          </div>
  
          <button class="custom-btn w-100" type="submit">Iniciar sesión</button>
        </form>
  
        <div class="mt-4">
          <h5>¿No tienes una cuenta aún?</h5>
          <h4><a class="text-primary" routerLink="/user/register">Registrarse</a></h4>
        </div>
      </div>
    </div>
  </div>
  

}

