@if (showSpinner) {


<section class="dots-container">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</section>




}@else {

<div class="text-center container-fluid img-welcome">

  <div class="background-layer" [ngStyle]="{ 'background-image': 'url(' + currentImage + ')' }"
    [class.fade-in]="imageFading">
  </div>


  <div class="text-overlay"> </div>
  <div class="content container-fluid">

    <div class="search">
      <br>
      <h1 class="text-white customh">Encuentra y reserva el mejor Restaurant.</h1>
      <br>
      <input type="search" class="form-control form-control-sm rounded" placeholder="Buscar Restaurantes ..."
        aria-label="Buscar" aria-describedby="search-addon" style="max-width: 760px;"
        (input)="buscar($any($event.target).value)">
      @if (resultadosBusqueda.length > 0) {
      <div class="search-container">
        <ul class="list-group">
          @for (restaurantes of resultadosBusqueda; track restaurantes ) {
          <li class="list-group-item">
            <a [routerLink]="['/restaurant', restaurantes.id, 'detail']"
              [innerHTML]="highlightSearchTerm(restaurantes.name, searchTerm)">{{ restaurantes.name }}</a>
          </li>
          }
        </ul>
        @if (puedeMostrarMas) {
        <button class="btn btn-outline-primary" (click)="mostrarMas()">Mostrar más</button>
        }
        @if (maxResultados > minResultados) {
        <button class="btn btn-outline-primary" (click)="mostrarMenos()">Mostrar menos</button>
        }
      </div>
      }



    </div>
    <div class="row align-items-center justify-content-center" style="margin-bottom: 120px;">
      <!-- Columna de Restaurantes Destacados -->
      <div class="col-lg-5 col-md-12 text-center mt-5">
        <app-carrusel></app-carrusel>
      </div>

      <!-- Columna de Categorías -->
      <div class="col-lg-4 col-md-12 d-flex flex-column align-items-center">
        <h2 class="text-white mb-4">Explora</h2>
        <div class="skills-container grid-container">
          <a routerLink="/restaurant-list" class="category">
            <i class="bi bi-shop icon"></i>
            <p>Restaurantes</p>
          </a>
          <a routerLink="/ranking" class="category categoryRanking">
            <i class="bi bi-star icon"></i>
            <p>Rankings</p>
          </a>
          <a routerLink="/discounts" class="category categoryDiscounts">
            <i class="bi bi-percent icon"></i>
            <p>Descuentos</p>
          </a>
          <a routerLink="/zonas" class="category categoryZonas">
            <i class="bi bi-geo-alt icon"></i>
            <p>Zonas</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">

  <div data-aos="fade-up" style="text-align: center;">
    <h1 class="category-title">Recien Añadidos</h1>
  </div>

  <div class="container" id="custom-cards">

    <div data-aos="fade-up" class="row row-cols-1 row-cols-lg-3 align-items-stretch py-5">
      @for (restaurant of restaurants; track $index) {
      <div class="col mt-3">
        <a [routerLink]="['/restaurant', restaurant.id, 'detail']">
          <div class="card card-cover h-150 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
            <div class="image-overlay"
              [style.background-image]="'url(' + (restaurant.imageUrl.startsWith('http') ? restaurant.imageUrl : 'https://biteapp.store:8080/files/' + restaurant.imageUrl) + ')'"
              style="background-size: cover; background-position: center; height: 200px;">
            </div>
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
              <h3 class="mt-auto mb-3 text-center fs-5 fw-bold"> {{ restaurant.name }}</h3>
              <ul class="d-flex justify-content-between list-unstyled mt-auto">
                <li class="d-flex align-items-center me-3">
                  <i class="bi bi-geo-alt"></i> {{ restaurant.address }}
                </li>
                <li class="ms-3 d-flex align-items-center">
                  <i class="bi bi-star"></i> {{restaurant.averageRating}}
                </li>
              </ul>
            </div>
          </div>
        </a>

      </div>
      }
    </div>

  </div>
</div>

<div class=" container-fluid justify-content-center ">

  <div class="container" id="custom-cards">
    <div style="text-align: center;">
      <h1 data-aos="fade-up" class="category-title">Recomendaciones</h1>
    </div>

    <div data-aos="fade-up"
      class="row row-cols-1 row-cols-md-3 g-3 justify-content-center align-items-center py-3 mt-3">


      <div class="col ">
        <div
          class="card card-covercustom h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://www.srperro.com/media/negocio/5b49b1ea-9bdf-41a2-864b-aff9aa695385.original.jpg');">
          </div>

          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-1 mb-3 text-center fs-1 fw-bold">Arya Café</h3>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
              <p class="mt-2 px-3">Brunch tranquilo con una dueña muy particular, Menú fresco y saludable, una
                propuesta diferente en un Madrid actual. </p>

            </div>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt"> </i> Madrid - Moncloa

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-currency-euro"> </i> 20 /<i class="bi bi-person"></i>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card card-covercustom h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://doppelgangerbar.com/wp-content/uploads/2021/04/Puesto3_900X900.jpg');">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-1 mb-3 text-center fs-1 fw-bold">Doppelgänger Bar</h3>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
              <p class=" px-1">El mas disruptivo puesto de mercado, con una propuesta tan alocada como su chef,
                presenta uno de nuestros sitios favoritos donde hacer algo mas que solo salir a comer en Madrid.</p>

            </div>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt ms-1"> </i> Madrid - Antón Martín

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-currency-euro"> </i> 20 /<i class="bi bi-person"></i>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card card-covercustom h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://menu.tipsipro.com/media/uploads/DSC00493.jpg');">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-1 mb-3 text-center fs-1 fw-bold">Nomade Café</h3>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
              <p class="mt-2 px-3">El Brunch perfecto para un desayuno, luego de una noche de fiestas por el centro de
                Madrid, la mejor opción Calidad/ Precio de Lavapíes </p>

            </div>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt ms-1"> </i> Madrid - Lavapíes

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-currency-euro"> </i> 20 /<i class="bi bi-person"></i>

              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>



</div>

<!-- Parallax Hero Banner -->
<div class="parallax-banner d-flex align-items-center justify-content-center">
  <div class="overlay"></div>
  <div data-aos="fade-up" class="container position-relative text-white">
    <div class="row align-items-center justify-content-between">
      <div class="col-2 vertical-text d-md-flex">¡NO TE LÍES!</div>
      <div class="col-8 text-center">
        <h1 class="main-title">HOY ES EL DÍA</h1>
        <button class="btn btn-outline-light btn-lg mt-3" routerLink="/user/login">Reservar ahora</button>
      </div>
      <div class="col-2 side-text d-md-flex flex-column align-items-end justify-content-center">
        <p>Estás a un <strong>click</strong></p>
        <p>De conocer tu <strong>nuevo restaurante</strong> favorito.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div style="text-align: center;">
    <h1 class="custom-title category-title">Experiencias</h1>
  </div>

  <div class="container" id="custom-cards">

    <div data-aos="fade-up" class="row row-cols-1 row-cols-lg-3 align-items-stretch py-5">

      <div class="col mt-3">
        <div class="card card-cover h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://streetfoodjapan.com/wp-content/uploads/imgShinjuku.jpg');"></div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-auto mb-3 text-center fs-5 fw-bold">Noches Asiatícas</h3>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt"> </i> Madrid

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-calendar3"> </i> Feb 2025

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col mt-3">
        <div class="card card-cover h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://tasteofluxury.ca/wp-content/uploads/2023/04/fine-dining-in-the-best-restaurants.jpg?w=672&h=372&crop=1');">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-auto mb-3 text-center fs-5 fw-bold">Experiencias Michelín</h3>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt"> </i> Madrid

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-calendar3"> </i> Feb 2025

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col mt-3">
        <div class="card card-cover h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://farm6.staticflickr.com/5686/22238573266_32e6fc7c68_o.jpg');"></div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-auto mb-3 text-center fs-5 fw-bold">Raíces & Mercado</h3>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt"> </i> Madrid

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-calendar3"> </i> Feb 2025

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col mt-3">
        <div class="card card-cover h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmvX-xdQQ4Fn4qCI-9hSSReaHZTX00cCfLFQ&s');">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-auto mb-3 text-center fs-5 fw-bold">Chef en Casa</h3>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt"> </i> Madrid

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-calendar3"> </i> Feb 2025

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col mt-3">
        <div class="card card-cover h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://offloadmedia.feverup.com/madridsecreto.co/wp-content/uploads/2019/04/08102038/83867458_2270916876545880_2152995240957275354_n.jpg');">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-auto mb-3 text-center fs-5 fw-bold">Brunchies...¡Porque sí!</h3>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt"> </i> Madrid

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-calendar3"> </i> Nov 2025

              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col mt-3">
        <div class="card card-cover h-100 w-100 overflow-hidden text-bg-dark rounded-4 shadow-lg position-relative">
          <div class="image-overlay"
            style="background-image: url('https://i0.wp.com/www.showmoonmag.com/wp-content/uploads/2018/12/Santos-y-Desamparados_-El-Culto-al-Co%CC%81ctel-Santos.jpg?resize=900%2C601&ssl=1');">
          </div>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 position-relative">
            <h3 class="mt-auto mb-3 text-center fs-5 fw-bold">De copas y otras cosas.</h3>
            <ul class="d-flex justify-content-between list-unstyled mt-auto">

              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt"> </i> Madrid

              </li>
              <li class="ms-3 d-flex align-items-center">
                <i class="bi bi-calendar3"> </i> Feb 2025

              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>



<app-home-sin-log></app-home-sin-log>




}