.skills-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 15px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.3);  
  width: 150px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/* Contenedor del GIF con efecto de fade-in */
.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://media3.giphy.com/media/t3cAV2HGSSMljwOpS9/200w.gif?cid=6c09b952r52j9vaj92kvkmn6wcm4ibcr4s7e9ixdk4l48q5c&ep=v1_gifs_search&rid=200w.gif&ct=g'); /* Ruta del GIF */
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Suaviza el efecto */
  z-index: -1;
}

.categoryRanking::before{

  background-image: url('https://cdn.dribbble.com/userupload/19780573/file/original-f539c7b5bcf80ff45985124ec1395f74.gif') !important; /* Ruta del GIF */

}
.categoryDiscounts::before{

  background-image: url('https://cdn-icons-gif.flaticon.com/12707/12707727.gif') !important; /* Ruta del GIF */

}

.categoryZonas::before{

  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjl5bnZ1NGduM3o0MzZ0N21vbGY4a3JkNmQzd3I2cncxOWNpeTRuYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lPdnsmJjxXuXbDn6yq/giphy.gif') !important; /* Ruta del GIF */

}


/* Efecto al hacer hover */
.category:hover {
  transform: scale(1.2);
  box-shadow: 0 12px 16px rgba(255, 255, 255, 0.671);
}

.category:hover::before {
  opacity: 1; /* Hace el GIF visible con una transición progresiva */
}


.category p, .category .icon, .category .svg-inline--fa {
  color: #FFFFFF;
  font-size: 1.2rem;
}

.category a {
  text-decoration: none;
  color: inherit;
}

.myvideo {
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.img-welcome {
  position: relative;
  overflow: hidden;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1; 
  transition: opacity 2s ease-in-out;
  z-index: 0;
}

.background-layer.fade-in {
  opacity: 0.5; 
}


.background-layer.visible {
  opacity: 1;
  z-index: 1;
}


.customh{
  background-color: rgba(0,0,0,0.3);  
  border-radius: 20px;  
  padding: 5px;
  font-family: Manrope, sans-serif !important;
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 1.3;

}



.content {
  position: relative;
  z-index: 3;
}

.content {
  position: relative;
  z-index: 2; 
}

.content {
  min-height: calc(100% - 10px); 
  padding-bottom: 10px; 
  position: relative;
}

.letters {
  color: white;
  font-size: 28px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

h1 {
  font-family: Manrope, sans-serif !important;
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 1.3;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
}


.search-container ul {
  list-style: none;
  padding: 0;
}

.search-container li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-container li:last-child {
  border-bottom: none;
}

a {
  text-decoration: none;
}

.search-container li {
  color: black;
  text-decoration: none;
}

.search-container input[type="search"] {
  outline: none; 
  text-decoration: none; 
}

.list-group-item {
  z-index: 5;
  cursor: pointer;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  transition: 0.4s;
  color: black important;
}

.list-group-item:hover {
  background-color: #1f1e1d;
  color: white;
  
}

.list-group-item a:visited {
  color: #0ae71c;
}

::ng-deep .search-container ::selection {
  background-color: transparent;
  color: inherit;
}


@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #030303;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}


.form-control{
  max-width: 300px !important; 
}


.type-kitchen {
 
  margin-top: 20px;
  
}

.custom-col {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.426);
  margin: 40px;
  border-radius: 40px;
  padding: 30px;
  max-width: 400px;
  margin-right: 100px;
  margin-left: 100px;
}

.img-fluid {
  border-radius: 30px;
}



.editor-title {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.title-portada {
  margin-left: 50%;
}

.horizontal-bars {
  width: 100%;
  height: 3px;
  background-color: black;
  margin-bottom: 1rem;
}

@media (min-width: 300px) {
  .col-lg-8.custom-col,
  .col-lg-4.custom-col {
      margin-top: 50px;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      padding: auto;
  }
  
}



.hero {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 100px 0 60px 0;
}

.hero h2 {
  font-size: 64px;
  font-weight: 600px;
  margin-bottom: 20px;
  color: white;
}

.hero h2 span {
  color: white;
}

.hero p {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 30px;
}

.hero2 {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 100px 0 60px 0;
}

.hero2 h2 {
  font-size: 64px;
  font-weight: 600px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.hero2 h2 span {
  color: rgb(0, 0, 0);
}

.hero2 p {
  color: #000000;
  font-weight: 400;
  margin-bottom: 30px;
}

.section-bg {
  background-image: url('https://wallup.net/wp-content/uploads/2017/11/22/397493-food-fruit.jpg');
  width: 100vw;
  position: relative;
  background-color: #000000;
  z-index: 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.card-cover{
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}



.card-cover:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  cursor: pointer;
}

.card-cover h3 {
  font-size: 1.4rem;
 
}

.card-cover bi{

  margin-right: 5px;
}
.custom-photo {
  border-radius: 100px;
}

.card-covercustom{
  height: auto;
  width: 75%;
  aspect-ratio: 3/4;
  display: flex;
  flex-direction: column;
  filter: grayscale(100%);

}



.card-covercustom:hover{
  transform: scale(1.05);
  transition: transform 0.5s;
  cursor: pointer;
  filter: grayscale(0%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.426);


}

.custom-div{
  margin-left: calc(36% - 20px);
  
}


.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}

.category-title {
  font-size: 44px;
  margin-top: 50px;
  position: relative;
  font-family: Manrope, sans-serif !important;
  text-align: center;
  padding-bottom: 10px;
  display: inline-block; 
}

.category-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  height: 1px; 
  background-color: #926644;
  border-radius: 2px;
}

.parallax-banner {
  position: relative;
  height: 70vh;
  background-image: url('https://i.ibb.co/39TD1jqx/Today-is-yours.png');
  background-attachment: fixed; /* Efecto Parallax */
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2.8rem; /* Tamaño ligeramente menor para balance visual */
  letter-spacing: 4px;
  font-weight: bold;
  padding-right: 30px; /* Mayor separación hacia el centro */
}


.main-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.5rem; 
}

.side-text {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Manrope, sans-serif !important;
  text-align: right;
  line-height: 1.4;
  padding-left: 30px; 
}


.side-text strong{
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.side-text strong::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  transform: translate(-50%);
  width: 100%;
  height: 2px;
  background-color: #926644;
  border-radius: 2px;
}


@media (max-width: 767px) {
  .hero h2 {
      font-size: 64px;
  }
  .hero p {
      font-size: 24px;
  }
  .custom-div{
    margin-right: 250px !important;
  }

  .type-kitchen {

    margin-right: 250px !important;

   
    
  }

  .form-control[_ngcontent-ng-c1890522272] {
    max-width: 300px !important;
    margin-left: 0% !important;
}

  .custom-input{
    margin-left: 0% !important;

  } 

  .home-side-text {
    max-width: 100%;
    margin: 0 10%;
    text-align: center;
  }


  .home-side-text h1 {
    font-size: 24px; 
  }

  .home-side-text p {
    font-size: 16px; 
  }

  .home-container {
    flex-direction: column; 
    padding: 20px;
  }

  .book-now-button {
    font-size: 24px;
    padding: 5px 10px;
  }

  .parallax-banner .col-2,
  .parallax-banner .col-8 {
    flex: 0 0 auto;
  }

  .vertical-text {
    font-size: 2rem;
    letter-spacing: 2px;
    max-width: 20px;
    line-height: 1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .main-title {
    font-size: 1.2rem !important;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  .btn.btn-lg {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .side-text {
    font-size: 0.8rem;
    line-height: 1.2;
    text-align: right;
    padding-left: 5px;
    margin-right: 10px;
  }

  

  .side-text p {
    margin-bottom: 0.3rem;
  }

  .parallax-banner{
    padding: 0px !important;
  }

  .category{
     width: 120px !important;
  }
  .side-text strong{
    position: relative;
    display: inline-block;
  }
  
  
}